<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Copyright (c) 2011-2019 Software AG, Darmstadt, Germany and/or Software AG USA Inc., Reston, VA, USA, and/or its subsidiaries and/or its affiliates and/or their licensors.
  Use, reproduction, transfer, publication or disclosure is prohibited except as specifically provided for in your License Agreement with Software AG.
  -->
<included>

  <root level="DEBUG">
    <appender-ref ref="TC_BASE"/>
  </root>

  <logger name="com.terracottatech.dynamic_config" level="TRACE" additivity="false">
    <appender-ref ref="TC_BASE"/>
  </logger>

</included>